{%- if first_object_to_generate %}
file_path_duckdb_folder;environment;database;schema;tablename;file_location
{% endif %}
{{- project.named_paths.duckdb_folder }};
{{- object.database }};
{{- object.schema }};
{{- object.table_name | upper }};
{{- object["table_output_dir"] }}/{{ object["table_name"] }}.sql